* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
              url("COLOURBOX32883392.webp") no-repeat center center/cover;
}

.card {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  color: white;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.header h2 { margin-bottom: 5px; }
.header p { font-size: 13px; opacity: 0.8; margin-bottom: 20px; }

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #3a86ff;
  background: 0.3;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s,
}

button:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

.stat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 25px;
}

.stat-box {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
}

.stat-box small { font-size: 11px; color: #3a86ff; text-transform: uppercase; }

.address-box {
  margin-top: 20px;
  text-align: left;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
}

.address-box p { margin-bottom: 8px; line-height: 1.4; }

.hidden { display: none; } 
